
/* UNIVERSAL STYLING: */
* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 2px;
    height: 100%;
}



/* INDEX.HTML (AKA, WELCOME PAGE) STYLING */

button, input {
    border: none;
    padding: 10px;
    font-family: "Castoro";
    letter-spacing: 3px;
    border-radius: 10px;
    font-size: 25px;
}

input {
    margin-right: 20px;
    width: 500px;
}

button {
    margin: 20px;
    left: 500px;
}

#wlf-welcome {
    font-family: "Inknut Antiqua";
}


.greeting-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.6fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "hello-hook"
      "login-info"
      ".";
      width: fit-content;
      /* margin-top: 500px; */
      margin: 0 auto;
    }

    .hello-hook {
        font-family: "Piazzolla";
        padding: 100px;
        /* width: 700px;
        margin: 0 auto; */
    }


  .first-hook { 
      grid-area: first-hook; 
      opacity: 0;
      position: relative;
      font-size: 45px;
      animation-name: hihellofadeinout;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-delay: 1s;

    }

.second-hook { 
        grid-area: first-hook; 
        opacity: 0;
        position: relative;
        font-size: 45px;
        animation-name: hihellofadeinout;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
    }
    
    @keyframes hihellofadeinout {
        0% { opacity: 0; }
        25% { opacity: 1; }
        65% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    /* this then fades in after hello-hook fades out, prompting them to give a name. */
    .login-info { 
        grid-area: login-info;
        opacity: 0;
        position: absolute; 
        padding: 300px;
        font-family: "Piazzolla";
        font-size: 18px;
        animation-name: loginfadein;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-delay: 10s;
    }

    @keyframes loginfadein {
        0%, 100% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    /* this is the div that says, "nice to meet you" after login input */
    .wallflower-greeting {
        display: none;
        position: absolute;
        padding: 200px;
        margin: 0 auto;
        font-family: "Piazzolla";
    }
    
    .welcome-to-wallflower {
        display: none;
        position: absolute;
        padding-top: 250px;
        padding-left: 200px;
        margin: 0 auto;
        font-family: "Piazzolla";
    }



/* HOW ARE YOU PAGE STYLING? */

.haybuttons {
    opacity: 0;
}

#how-are-you-container { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
}
#empowered { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:401px;
	top:432px;
}
#overwhelmed { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:401px;
	top:634px;
}
#comfortable { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:660px;
	top:432px;
}
#stressed { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:660px;
	top:634px;
}
#content { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:919px;
	top:432px;
}
#worried { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:919px;
	top:634px;
}
#neutral { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:1178px;
	top:432px;
}
#anxious { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:1178px;
	top:634px;
}
#happy { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:142px;
	top:432px;
}
#sad { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:142px;
	top:634px;
}
#logo { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:128px;
	height:34px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Inknut Antiqua;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#how-are-you { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:721px;
	height:83px;
	position:absolute;
	left:359px;
	top:279px;
	font-family:Halant;
	text-align:center;
	font-size:55px;
	letter-spacing:0;
	line-height:undefined;
}


#happytxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:96px;
	top:478px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#sadtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:95px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#overwhelmedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:354px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#stressedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:215px;
	height:34px;
	position:absolute;
	left:612px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#worriedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:873px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#anxioustxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:1131px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#empoweredtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:354px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#comfortabletxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:215px;
	height:34px;
	position:absolute;
	left:612px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#contenttxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:872px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#neutraltxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:1131px;
	top:478px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}





/* USER INTERFACE STYLING */
#logo-wlf {
    font-family: "Inknut Antiqua";
    font-size: 18px;
    font-weight: bold;
}

.btn {
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 1.2fr;
    grid-template-rows: 0.2fr 1.2fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "covid-data tbd-content mood-tracker"
    "advice-container advice-container mood-tracker";
    margin: 30px;
    /* background-color: ; */
}



/* header styling */
.header {
    display: grid;
    grid-template-columns: 0.2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "logo-container .";
    grid-area: header;

    margin-bottom: 100px;
}

#headline-text {
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 30px;
    letter-spacing: 12px;
    text-align: center;
    padding-top: 50px;
    padding-right: 400px;
    margin-right: 50px;
    /* opacity: 0; */
    animation: howareyou ease 8s;
    animation-timing-function: forwards;
}

    @keyframes howareyou {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .logo-container { 
      grid-area: logo-container; 
    }





/* covid data styling */
.covid-data {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "covid-data-header ."
      "confirmed-data-text confirm-num"
      "deaths-data-text death-num"
      "recovered-data-text recover-num"
      "totalrecov-data-text totalrecov-num";
    grid-area: covid-data;

    width: 460px;
    padding: 20px 20px;
    margin-left: 50px;
}

    .covid-data-header { 
      grid-area: covid-data-header; 
      font-family: "Tenor Sans", sans-serif;
      font-size: 14px;
    }

    .spacing-covtext {
      font-family: "Halant";
      padding: 30px;
    }

    .confirmed-data-text { 
      grid-area: confirmed-data-text; 
    }

    .deaths-data-text { 
      grid-area: deaths-data-text; 
    }

    .recovered-data-text { 
      grid-area: recovered-data-text; 
    }
  
    .totalrecov-data-text { 
      grid-area: totalrecov-data-text; 
    }

    .num-data {
        padding-top: 30px;
        text-align: center;
        font-family: "Space Mono";
        font-size: 18px;
        letter-spacing: 2px;
    }
  
    .confirm-num { 
        grid-area: confirm-num; 
    }
    
    .death-num { 
        grid-area: death-num; 
    }
    
    .recover-num { 
        grid-area: recover-num; 
    }
    
    .totalrecov-num { 
        grid-area: totalrecov-num; 
    }
  

/* mood tracker styling */
.mood-tracker {
    display: none;
    grid-template-columns: 1.1fr 0.9fr 1fr;
    grid-template-rows: 0.4fr 0.6fr 0.5fr 2.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "mood-prompt-container mood-prompt-container mood-prompt-container"
      "mood-button-container mood-button-container mood-button-container"
      "mood-journal-prompt-container mood-journal-prompt-container mood-journal-prompt-container"
      "mood-journal-text-container mood-journal-text-container mood-journal-text-container";
    grid-area: mood-tracker;

    /* width: ; */
    margin-right: 50px;
    margin-left: 50px;
    padding: 20px 20px;
}

    .mood-prompt-container { 
        grid-area: mood-prompt-container; 
        padding-top: 20px;
        padding-left: 25px;
    }
    
    .mood-button-container { 
        grid-area: mood-button-container; 
        padding-left: 200px;
    }
        .btnmoods {
            font-family: "Work Sans";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
            border-radius: 50px;
        }
        .btn-mood1 {
            padding: 40px 25px;
            margin-right: 60px;
            background-color:rgb(219, 226, 143);
        }
        .btn-mood2 {
            padding: 40px 15px;
            margin-right: 60px;
            background-color:rgb(191, 207, 191);
        }
        .btn-mood3 {
            padding: 40px 35px;
            background-color:rgb(193, 217, 224);
        }


    .mood-journal-prompt-container { 
        grid-area: mood-journal-prompt-container; 
        padding-top: 20px;
        padding-left: 25px;
    }
    
         .mood-journal-text-container { 
        grid-area: mood-journal-text-container; 
        margin: 20px 25px;
        }

        .mood-text-prompt {
            padding: 30px;
            font-size: 18px;
            color:rgb(145, 161, 145);
        }
        

    

/* advice styling */
.advice-container {
        display: grid;
        grid-template-columns: 1.2fr 0.5fr 1.3fr;
        grid-template-rows: 0.4fr 2.4fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas:
        "advice-header . ."
        "advice-text-container advice-text-container advice-text-container"
        ". . button-container";
        grid-area: advice-container;

        /* width: ; */
        margin-top: 50px;
        margin-left: 50px;
        padding: 20px 20px;
}

    .advice-header { 
        font-family: "Castoro", sans-serif;
        font-size: 22px;
        font-weight: bold;
        grid-area: advice-header; 
    }
    
    .button-container { 
        grid-area: button-container; 
        width: 500px;
    }

    .btn-advice {
        padding: 20px;
        font-family: "Work Sans";
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: rgb(231, 231, 231);
        width: 400px;
    }
    
    .advice-text-container { 
        grid-area: advice-text-container; 
        padding-top: 50px;
        padding-left: 30px;
        font-family: "Space Mono";
        letter-spacing: 3px;
    }

    .advice-text {
        padding-left: 80px;
    }

    .quote1 .quote2 {
        font-style: bold;
        font-family: "Space Grotesk";
        font-size: 40px;
    }

    .quote1 {
        padding-bottom: 25px;
    }

    .quote2 {
        padding-left: 700px;
    }
  

/* tbd ??? */
  .tbd-content { 
      grid-area: tbd-content; 
}

