
/* UNIVERSAL STYLING: */
* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 2px;
    height: 100%;
}



/* INDEX.HTML (AKA, WELCOME PAGE) STYLING */

button, input {
    border: none;
    padding: 10px;
    font-family: "Castoro";
    letter-spacing: 3px;
    border-radius: 10px;
    font-size: 25px;
}

input {
    margin-right: 20px;
    width: 500px;
}

button {
    margin: 20px;
    left: 500px;
}

#wlf-welcome {
    font-family: "Inknut Antiqua";
}


.greeting-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.6fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "hello-hook"
      "login-info"
      ".";
      width: fit-content;
      /* margin-top: 500px; */
      margin: 0 auto;
    }

    .hello-hook {
        font-family: "Piazzolla";
        padding: 100px;
        /* width: 700px;
        margin: 0 auto; */
    }


  .first-hook { 
      grid-area: first-hook; 
      opacity: 0;
      position: relative;
      font-size: 45px;
      animation-name: hihellofadeinout;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
      animation-delay: 1s;

    }

.second-hook { 
        grid-area: first-hook; 
        opacity: 0;
        position: relative;
        font-size: 45px;
        animation-name: hihellofadeinout;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-delay: 2s;
    }
    
    @keyframes hihellofadeinout {
        0% { opacity: 0; }
        25% { opacity: 1; }
        65% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    /* this then fades in after hello-hook fades out, prompting them to give a name. */
    .login-info { 
        grid-area: login-info;
        opacity: 0;
        position: absolute; 
        padding: 300px;
        font-family: "Piazzolla";
        font-size: 18px;
        animation-name: loginfadein;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-delay: 10s;
    }

    @keyframes loginfadein {
        0%, 100% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    /* this is the div that says, "nice to meet you" after login input */
    .wallflower-greeting {
        display: none;
        position: absolute;
        padding: 200px;
        margin: 0 auto;
        font-family: "Piazzolla";
    }
    
    .welcome-to-wallflower {
        display: none;
        position: absolute;
        padding-top: 250px;
        padding-left: 200px;
        margin: 0 auto;
        font-family: "Piazzolla";
    }



/* HOW ARE YOU PAGE STYLING? */

.haybuttons {
    opacity: 0;
}

#how-are-you-container { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1440px;
	height:1024px;
	position:absolute;
}
#empowered { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:401px;
	top:432px;
}
#overwhelmed { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:401px;
	top:634px;
}
#comfortable { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:660px;
	top:432px;
}
#stressed { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:660px;
	top:634px;
}
#content { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:919px;
	top:432px;
}
#worried { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:919px;
	top:634px;
}
#neutral { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:1178px;
	top:432px;
}
#anxious { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:1178px;
	top:634px;
}
#happy { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:142px;
	top:432px;
}
#sad { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:120px;
	height:120px;
	position:absolute;
	left:142px;
	top:634px;
}
#logo { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:128px;
	height:34px;
	position:absolute;
	left:10px;
	top:7px;
	font-family:Inknut Antiqua;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#how-are-you { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:721px;
	height:83px;
	position:absolute;
	left:359px;
	top:279px;
	font-family:Halant;
	text-align:center;
	font-size:55px;
	letter-spacing:0;
	line-height:undefined;
}


#happytxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:96px;
	top:478px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#sadtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:95px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#overwhelmedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:354px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#stressedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:215px;
	height:34px;
	position:absolute;
	left:612px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#worriedtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:873px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#anxioustxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:1131px;
	top:685px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#empoweredtxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:354px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#comfortabletxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:215px;
	height:34px;
	position:absolute;
	left:612px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#contenttxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:872px;
	top:481px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

#neutraltxt { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:34px;
	position:absolute;
	left:1131px;
	top:478px;
	font-family:Tenor Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}





/* USER INTERFACE STYLING */
.main-ui-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.7fr 0.3fr 2.7fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "logo-space . mood-tracker-ui mood-tracker-ui"
      ". . . ."
      ". ui-greeting-text ui-greeting-text ."
      "covid-data covid-data advice-snippets advice-snippets"
      ". . . .";
  }
  
  .logo-space {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
    grid-area: logo-space;
    font-family: "Inknut Antiqua", serif;
    font-size: 10px;
  }
  
  .mood-tracker-ui {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "happy empowered comfortable content neutral sad overwhelmed stressed worried anxious";
    grid-area: mood-tracker-ui;
  }
  
.trck { 
 width: 32px;
 height: 32px;
 border: solid 10px lightgrey;
 border-radius: 50%;
}

  .happy { grid-area: happy; }
  
  .empowered { grid-area: empowered; }
  
  .comfortable { grid-area: comfortable; }
  
  .content { grid-area: content; }
  
  .neutral { grid-area: neutral; }
  
  .sad { grid-area: sad; }
  
  .overwhelmed { grid-area: overwhelmed; }
  
  .stressed { grid-area: stressed; }
  
  .worried { grid-area: worried; }
  
  .anxious { grid-area: anxious; }
  
  .ui-greeting-text { 
      font-family: "Halant";
      grid-area: ui-greeting-text; }
  
  .covid-data {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1.2fr 1.1fr 1.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "covid-data-header ."
      "confirmed-text confirm-num"
      "death-text death-num"
      "recovered-text recov-num"
      "totalrecovered-text totalrecov-num";
    grid-area: covid-data;
  }
  
  .covid-data-header { 
      grid-area: covid-data-header; }

  .txtfmt { 
    font-family: "Halant"; }
  
  .confirmed-text { 
      grid-area: confirmed-text; }
  
  .death-text { 
      grid-area: death-text; }
  
  .recovered-text { 
      grid-area: recovered-text; }
  
  .totalrecovered-text { 
      grid-area: totalrecovered-text; }
  


    .num-data { 
        font-family: "Space Mono";
    }


  .confirm-num { 
      grid-area: confirm-num; }
  
  .death-num { 
      grid-area: death-num; }
  
  .recov-num { 
      grid-area: recov-num; }
  
  .totalrecov-num { 
      grid-area: totalrecov-num; }
  
  .advice-snippets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2.3fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "advice-snippets-header"
      "advice-text-api"
      "advice-button-container";
    grid-area: advice-snippets;
  }
  
  .advice-snippets-header { 
      font-family: "Tenor Sans";
      grid-area: advice-snippets-header; }
  
  .advice-text-api { 
      font-family: "Space Mono";
      grid-area: advice-text-api; }
  
  .advice-button-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    grid-area: advice-button-container;
  }
  
  .btn-advice {
      font-size: 13px;
      width: 375px;
  }